body {
  background-image: url(photo/instruments.jpg);
  background-repeat:no-repeat;
background-size:cover;
background-position:center;

}



h1, h2, h3, h4, p, hr {
  color: black;
  font-family: 'Lobster', cursive;
}



.carousel_image_main{
  max-width: 50%;
  height: auto;
}



.explanation_text {
  padding-left: 15%;
  padding-right: 15%
}


.footer {
  bottom: 0%;
  margin: 50px 0 0 0;
  height: 70px;
  width: 100%;
  background-color: whitesmoke;
  text-align: center;
}

.jethro-carousel{
  text-align: center;
  justify-content: center;
}

.jethroimage{
  max-width: 30%;
  max-height: 30%;
  margin:  auto;
  width: 100%
}

.title_header {
  text-align: center;
  padding: 2%;
  margin-bottom: 30%
}

.title_text{
  font-weight: bold;
  font-size: 4rem;
  font-family: 'Lobster', cursive;
}

.the_one_true_savior {
  height: auto;

}


.lets-fuckin-goooooo{
  margin: 8% 0;
}



.post-title{
  padding: 8% 0;
}

.prediction-button{
  margin: 5% 0;
}

.welcome {
  padding: 2% 0;
}


.window{
  position: absolute;
  display: flex;
  top: 50%;
  bottom: 25%;
  left: 50%;
  max-height: 80%;
  transform: translate(-50%, -50%);
  width: 40%;
  background-color: white;
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  
}

.jethro-title{
  margin: auto

}

.response-header{
  position:absolute;
  top: 10%;
}

.response{
  font-size: 90%;
}

.exit-window{
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 3rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden{
  display:none;
}

.response-box{
  box-shadow: 5px 10px 8px red;
}